@import url('https://fonts.googleapis.com/css2?family=Abel&family=Diplomata+SC&family=Roboto:ital,wght@1,300&family=Zen+Dots&display=swap');

body{
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  font-family: tahoma;
  z-index: -1;
  color: #4c5a5a;
  font-family: 'Abel', sans-serif;
  width: 100%;
}

.button {
  border-radius: 50px;
  color: #c9943e;
  background-color: #0000;
  border: 2px solid #c9943e;
  font-size: 18px;
  width: 160px;
  height: 60px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  color: #ffffff;
  background-color: #c9943e;
}

.disabledButton{
  border-radius: 50px;
  color: #4a4744;
  background-color: #0000;
  border: 2px solid #4a4744;
  font-size: 18px;
  width: 160px;
  height: 60px;
  text-align: center;
  cursor: not-allowed;
}

.disabledButton:hover {
  color: #bfbebe;
  background-color: #313030;
}
  


.product-image img{
  display: flex;
  width: 50%;
  height: 30%;
  margin: 0px auto 0px auto;
  border-radius: 30px;
}

.cart{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
  height: 60px;
  margin-bottom: 25px;
  font-size: 40px;
  padding: 10px;
  backdrop-filter: blur(10px);
  font-family: 'Zen Dots', cursive;
}

.cart p{
  color: #e7d7bd;
  font-size: 22px;
}

.nav-bar{
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-bottom: 25px;
  color: #e7d7bd;
  font-size: 40px;
  padding-top: 10px;
  width: 100%;
  backdrop-filter: blur(10px);
  font-family: 'Zen Dots', cursive;

}

.nav-bar a{
  color: #e7d7bd;
  text-decoration: none;
  font-size: 22px;
  padding: 10px;
}

.nav-bar a:hover{
  color: #c9943e;
}

.product-info h1{
  font-size: 22px;
  color: #4C5A5A;
}

.product-info p{
  font-size: 22px;
  color: #4C5A5A;
}

.product-info .price{
  font-size: 22px;
  color: #4C5A5A;
}

.product-info .button{
  margin-top: 20px;
}

.product-info .button:hover{
  color: #ffffff;
  background-color: #c9943e;
}

.product-title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.color-circle {
  width: 60px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  border: 5px solid;
  border-radius: 25px;
  cursor: pointer;
  display: inline-block;

}

.buttons{
  text-align: center;
}

.product-info{
  display: grid;
  grid-gap: 10px;
  width: 80%;
  margin: 0px auto 0px auto;

  border: 2px solid #d8d8d8;
  border-radius: 25px;
}

.main_info_1{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1/2;
}

.main_info_2{
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1/2;
} 

.product-info p, .product-info li{
  font-size: 25px;
}

.product-tabs button{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.review-form{
  display: flex;
  flex-direction: column;
  width: 425px;
  padding: 20px;
  border-radius: 25px;
  border : 2px solid #d8d8d8;
}

.review-container{
  width: 425px;
  padding: 20px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 20px -12px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 2px 20px -12px rgba(0, 0, 0, 0.57);
  box-shadow: 2px 20px -12px rgba(0, 0, 0, 0.57);
  margin-left: 40px;
  border: 2px solid #d8d8d8;
}

input{
  width: 95%;
  height: 15px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  margin-top: 10px;
  border: 2px solid #f0b350;
}
textarea{
  width: 95%;
  height: 70px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  border: 2px solid #c9943e;
}

input:focus{
  outline: none;
  border: 2px solid #c9943e;
}

textarea:focus{
  outline: none;
  border: 2px solid #c9943e;
}

.review-container li{
  margin-bottom: 30px;
}

.review-form .button{
  display: block;
  margin: 30px auto;
}

select{
  height: 40px;
  font-size: 20px;
  background-color: white;
  cursor: pointer;
}


ul{
  list-style-type: none;
}

.product-tab{
  display: flex;
  flex-direction: row;
  justify-content:center;
  margin: auto 36%;
}

.review{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto 0px auto;
  width: 80%;
  margin-top: 2em;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px auto 0px auto;
  width: 80%;
  margin-top: 2em;
}
